<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= todays_date %></h1>
  </div>
  <div class="box">
  <%  newitem.forEach(function(obj){ %>
      <div class="item">
        <input type="checkbox" />
        <p> <%= obj.item %> </p>
      </div>
  <%  });%>
    <form action="/" method="post">
      <input type="text" name="newitem_here" placeholder="New Item Here" autocomplete="off">
      <button type="submit" name="list" value="<%= todays_date %>">+</button>
    </form>
  </div>

<%- include("footer") -%>
